Checks: '-*, altera-*, boost-*, bugprone-*, cert-*, clang-analyzer-*, cppcoreguidelines-*, google-*, llvm-*, modernize-*, performance-*, portability-*, readability-*'
HeaderFilterRegex: '.*'
FormatStyle: google